html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Madurai",  "Fraunces", "Barlow", "Arial" , sans-serif;
}
*, *::after, *::before{
    box-sizing: inherit;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    flex-grow: 1;
}